@use '/src/styles/variables';

.user-info {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 16px;
  margin-bottom: 32px;
  justify-content: space-between;
}

.user {
  span, button, input {
    display: inline-block;
    vertical-align: middle;
  }
  span {
    padding: 0 8px 0 0;
  }
}