@use '/src/styles/variables';

.hud {
  display: grid;
  justify-content: space-between;
  max-width: 600px;
  margin: 16px auto 24px;
  gap: 16px;
  padding: 16px;
  border-radius: 4px;
  border: 1px solid variables.$button-bg;
  text-align: left;
  grid-template-columns: repeat(1, 1fr);
  @media (min-width: 561px) {
    grid-template-columns: repeat(2, 1fr);
  }
  span {
    display: inline-block;
    padding: 0 8px;
  }
}