@use 'variables';
@use 'elements';
@use 'typography';

@keyframes pulse {
  from {
    transform: scale(1);
    opacity: .75;
  }
  to {
    transform: scale(1.2);
    opacity: .1;
  }
}

* {
  box-sizing: border-box;
}

.app {
  text-align: center;
  max-width: 600px;
}

body {
  background: variables.$bg;
  color: variables.$text;
  display: flex;
  justify-content: center;
  padding: 40px;
  margin: 0;
}