body {
  line-height: 1.2;
  font: {
    family: "Press Start 2P", system-ui, sans-serif;
    size: 10px;
    weight: 400;
    style: normal;
  }
}
h1 {
  margin-bottom: 24px;
}
p {
  margin-bottom: 16px;
}