@use '/src/styles/variables';

.board-wrapper {
  position: relative;
  .board {
    display: grid;
    grid-template-columns: repeat(var(--grid-size, 10), var(--cell-size));
    margin: 20px auto;
    justify-content: center;
    gap: var(--gap-size);
    overflow: hidden;
    opacity: var(--opacity);
    transition: all .5s ease-out;
  }
  .game-over {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}